.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 5rem auto auto;
  gap: 1rem;
  grid-template-areas:
    "logo"
    "search"
    "display"
    "popular";
}

.logo {
  grid-area: logo;
}

.search {
  grid-area: search;
}

.popular {
  grid-area: popular;
}

.content_displayed {
  grid-area: display;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 1000px) {
  .App {
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 5rem 5rem 1fr;
    grid-template-areas:
      "popular logo"
      "popular search"
      "popular display";
  }
}
